.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.modal {
  position: fixed; /* Position the modal relative to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
.box {
  float: left;
  width: 37px;
  height: 37px;
  background-color: #ccc;
  margin-right: 10px; /* Optional: Add margin between boxes */
}

.center {
  margin: 0 auto; /* This will center the div horizontally */
  width: fit-content; /* Optionally, you can use fit-content to make the div width adjust to its content */
}
.code-container {
  background-color:#534666;

  width: 100%; /* Or specify a width as needed */
  height: 80px; /* Or specify a height as needed */
  margin-top: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.guess-container {
  background-color:#86d4db;  
  /* width:890px; */
  margin-top:20px;
  padding:20px;
}

.horiz-container {
  display:flex;
  width: 750px; 
  background-color: rgba(0, 255, 238, 0.674);
  padding-bottom: 10px;
}

.horiz-component {
  border: 1px solid black; /* Example border */
  padding: 10px; /* Example padding */
  margin: 5px; /* Example margin */
}

.centered {
  /* Add styling for your centered component */
  text-align: center; /* Center text horizontally */
}

.check {
  height: 36px;
  margin-top: 16px;
  margin-left: 7px;
  
}